@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

@import 'tailwindcss';

/* Note: Make sure the relative reference is correct */
/* I assumed when writing the response that they are in the same folder */
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer utilities {
  @font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    src: url('/neurath.ttf') format('tff');
  }

  @keyframes bouncing-loader {
    0%,
    100% {
      /* On the "ground", slightly squashed vertically */
      transform: translateY(0) scaleY(0.9);
      transform-origin: bottom;
    }
    50% {
      /* At the peak of the bounce, slightly stretched vertically */
      transform: translateY(-25px) scaleY(1.1);
      transform-origin: bottom;
    }
  }
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 280s linear infinite;
  }

  .animate-bouncer {
    animation: bouncing-loader 1.6s infinite alternate;
  }
}
@theme {
  --font-main: 'Faculty Glyphic', sans-serif;
  --font-second: 'Neurath', sans-serif;
}

* {
  @apply font-main;
}

button {
  @apply text-3xl p-3 bg-amber-100 px-10 font-bold text-amber-900 shadow-lg shadow-amber-950/50 tracking-wider rounded-lg hover:cursor-pointer hover:scale-110 transition-all duration-200;
}
h1 {
  @apply text-4xl font-black text-amber-900 tracking-tight font-second;
}
h2 {
  @apply text-3xl font-black text-amber-900 tracking-tighter  font-second text-center;
}
